export(iPlate)
export(iPlateBoxplot)
export(iPlateLegend)
export(iPlatePlot)
export(iScreen)
export(iScreenBoxplot)
export(iScreenInBatch)
export(iScreenInBatchBoxplot)
export(iScreenLegend)
export(iScreenPlot)
export(iWell)
export(iWellPlot)
export(WellCheck)
export(WellToLoc)
import(maptree)
